.product-list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
    
    align-items: baseline;
}

.card-div{
    height: -webkit-fill-available;
}
.products-wrapper {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    color: white;
    width: 100vw;
    height: 100vh;

    h1 {
        text-align: center;
    }


}